<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="bg-gray-light md:border-b">
    <nav class="md:container flex items-center flex-col md:flex-row">
      <div class="flex w-full md:w-auto justify-between items-center flex-1 py-4 px-4 md:py-0 md:px-0">
        <h1>
          <a href="#" class="w-[5.33rem] md:w-[11.875rem] h-[1.125rem] md:h-10 block indent-[101%] overflow-hidden whitespace-nowrap bg-cover" style="background-image: url('./assets/images/logo.svg');">Art NFT</a>
        </h1>
        <div class="flex items-center">
          <div class="flex items-center md:border-l md:border-r px-0 md:px-12 py-0 md:py-8">
            <input type="text" placeholder="搜尋作品名稱、藝術家名稱" class="border-0 bg-transparent mr-0 sm:mr-3 md:mr-6 focus:shadow-none">
            <i class="fa-solid fa-magnifying-glass w-5 mr-3 sm:mr-6 md:mr-0 cursor-pointer"></i>
          </div>
          <i class="fa-solid fa-bars w-5 cursor-pointer md:hidden"></i>
        </div>
      </div>
      <ul class="flex flex-col md:flex-row w-full md:w-auto text-center bg-white md:bg-transparent font-bold hidden">
        <li class="md:border-r px-12 py-6 md:py-10 mx-3 md:mx-0 border-b md:border-b-0"><a href="#" class="p-4">探索</a></li>
        <li class="md:border-r px-12 py-6 md:py-10 mx-3 md:mx-0"><a href="#" class="p-4">市值</a></li>
        <li class="mx-3 md:mx-0 mb-6 md:mb-0">
          <a href="#" class="hidden md:block px-12 py-10">
            <i class="fa-solid fa-wallet"></i>
          </a>
          <button class="md:hidden bg-red text-white w-full py-3">連結錢包</button>
        </li>
      </ul>
    </nav>
  </header>

  <main class="bg-gray-light">
    <%- contents %>
  </main>

  <footer class="bg-gray-light py-6 text-center border-t-4">
    © ART NFT. All Rights Reserved
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
