<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="bg-gray-light">
    <nav class="container flex justify-between py-4">
      <img src="./assets/images/logo.svg" class="w-20">
      <div class="flex items-center">
        <i class="fa-solid fa-magnifying-glass w-5 mr-6 cursor-pointer"></i>
        <i class="fa-solid fa-bars w-5 cursor-pointer"></i>
      </div>
    </nav>
  </header>

  <%- contents %>

  <footer class="bg-gray-light py-6 text-center border-t-4">
    © ART NFT. All Rights Reserved
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
